---
layout: base.ejs
css: blog.css
title: Blog
author: vwkd
description: blog blog blog
sitemap:
    changefreq: daily
    priority: 0.9
---
<!-- todo: add tags -->
<% const posts = collections.posts; posts.reverse(); %>
<ol reversed style="--counter-length: <%= posts.length + 1 %>">
    <% posts.forEach(post => { %>
        <li>
            <a href="<%= post.url %>">
                <h2 class="title"><%= post.data.title %></h2>
                <div class="second">
                    <p class="author"><%= post.data.author %></p>
                    <time datetime="<%= post.data.date %>"><%= post.data.date.toLocaleDateString() %></time>
                </div>
                <p class="description"><%= post.data.description %></p>
                <div class="tags">
                    <% post.data.tags.forEach(tag => { if (tag !== "posts") { %>
                        <div><%= tag %></div>
                        <% } }) %>
                    </div>
            </a>
        </li>
    <% })%>
</ol>